#tb_calendar th, #tb_calendar td{
	width:50px;
	height: 30px; 
	text-align:center
}
 #tb_calendar th{
	background-color: #eeeeee;
}
 #tb_calendar, #main{ width : 100%;}
 #main{ border : 2px solid #46A5E0;}
 #nav{
  background-color: #0C79A4;
  min-height: 20px;
  padding: 10px;
  text-align: center;
  color : white;
 }
 .navLeft{float: left; }
 .navRight{float: right;}
 div.title{
	float: left; 
	text-align: center; 
	width: 450px;
}

.prev_month, .next_month{
	color : #cccccc;
}