a.ns_bigbtn {
    width: 170px;
	margin : auto;
}

a.ns_medbtn {
    width: 125px;
	color: #FFFFFF !important;
	font-size: 12px !important;
	padding: 2px 2px !important;
}

a.ns_bigbtn, a.ns_medbtn{
    -moz-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 2px 0 #D7FFE1  inset, 1px 1px 3px rgba(133, 133, 133, 0.25);
	box-shadow: inset 0 2px 0 #D7FFE1 ,1px 1px 3px rgba(0, 0, 0, .25);
    background: -moz-linear-gradient(center top , #30CC2E, #0A8B2E) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30CC2E', endColorstr='#0A8B2E'); /* for IE */
	background: -webkit-gradient(linear,left top,left bottom,from(#30CC2E),to(#0A8B2E));
    border: 1px solid #A2A2A2;
	border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Sans-serif,Tahoma;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #0B2804;
}

a.ns_bigbtn:hover, a.ns_medbtn:hover, a.ns_biggerbtn:hover {
    background: -moz-linear-gradient(center top , #F3FFF2, #36CC3A) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3FFF2', endColorstr='#36CC3A'); /* for IE */
	background: -webkit-gradient(linear,left top,left bottom,from(#F3FFF2),to(#36CC3A));
    text-decoration: none !important;
}

a.ns_blue{
    -moz-box-shadow: 0 2px 0 #FBFCFF inset, 1px 1px 3px rgba(133, 133, 133, 0.25);
	box-shadow: inset 0 2px 0 #FBFCFF ,1px 1px 3px rgba(133, 133, 133, 0.25);
    background: -moz-linear-gradient(center top , #D6E7F5, #528FFF) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D6E7F5', endColorstr='#528FFF'); /* for IE */
	background: -webkit-gradient(linear,left top,left bottom,from(#D6E7F5),to(#528FFF));
}
a.ns_blue:hover{
	box-shadow: inset 0 2px 0 #FBFCFF ,1px 1px 3px rgba(133, 133, 133, 0.25);
    background: -moz-linear-gradient(center top , #FEFEFE, #77A7FF) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#77A7FF'); /* for IE */
	background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#77A7FF));
}


/* BUTTON VERSION */
button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	padding: 8px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#f2d7a7 50%,
		#db933b);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #f2d7a7),
		to(#db933b));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 5px rgba(250,215,173,0.6);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 5px rgba(250,215,173,0.6);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 5px rgba(250,215,173,0.6);
	text-shadow:
		0px -1px 3px rgba(255,255,255,0.8),
		0px 1px 0px rgba(255,255,255,0.3);
}


/* IMG BUTTON */
a.button {
   display: -moz-inline-stack;
   display: inline-block;
   width: 200px;
   height: 68px;
   background: url("../images/button.png") no-repeat;
	line-height: 68px;
   vertical-align: text-middle;
   text-align: center;
   color: #094196;
   font-family: tahoma;
   font-size: 15px;
   font-weight: bold;
   font-style: normal;
   text-shadow: none;
}
a.button > span {
   display: -moz-inline-block;
}

