div.default-list{ margin-bottom : 20px; }


div.default-list h3{
	background: none repeat scroll 0 0 #ececec;
    border: 1px solid #FF8C34;
    margin : 0px; 
    padding : 5px;
}

div.default-list ul{
	border-style:solid;
	border-width : 1px;
	border-color: #FFDCC2;
	padding : 5px;
}

div.default-list li{
	padding : 2px;
}

div.default-list li img{
	border : 0px;
}

.info li a {
 color: #00803A;
 cursor: pointer;
 height:25px;
 line-height: 25px;
 text-indent: 10px;
 text-decoration:none;
}
.info li a:hover{
 text-decoration:underline;
 color : #D68701;
}