#div_menu, #pic-menu, #text-menu, #pic-main-menu {	margin : 2px;width:200px;}
#div_menu ul, #pic-menu ul, #text-menu ul {margin:0px; padding:0px;}
#div_menu li, #pic-menu li, #text-menu li {list-style: none;}

.default-list {margin : 2px;width: 100%;}
.default-list ul{margin:0px; padding:0px;}
.default-list li{list-style: none;} 

/* picture */
#div_menu li#index{
	background:url(../images/menu/menu-home.png);
	background-position: -0px -0px; width: 200px; height: 49px
}
#div_menu li#index:hover{
	cursor : pointer;
	background-position: -0px -53px; width: 200px; height: 49px
}

#div_menu li#philosophy{
	background:url(../images/menu/menu-prush.png);
	background-position: -0px -0px; width: 200px; height: 49px
}
#div_menu li#philosophy:hover{
	cursor : pointer;
	background-position: 0px -53px; width: 200px; height: 49px
}

#div_menu li#vision{
	background:url(../images/menu/menu-wi.png);
	background-position: -0px -0px; width: 200px; height: 49px
}
#div_menu li#vision:hover{
	cursor : pointer;
	background-position: 0px -53px; width: 200px; height: 49px
}

#div_menu li#mission{
	background:url(../images/menu/menu-pun.png);
	background-position: -0px -0px; width: 200px; height: 49px
}
#div_menu li#mission:hover{
	cursor : pointer;
	background-position: 0px -53px; width: 200px; height: 49px
}

#div_menu li#activity{
	background:url(../images/menu/menu-activity.png);
	background-position: -0px -0px; width: 200px; height: 49px
}
#div_menu li#activity:hover{
	cursor : pointer;
	background-position: 0px -53px; width: 200px; height: 49px
}

#div_menu li#personnel{
	background:url(../images/menu/menu-person.png);
	background-position: -0px -0px; width: 200px; height: 49px
}
#div_menu li#personnel:hover{
	cursor : pointer;
	background-position: 0px -53px; width: 200px; height: 49px
}



#text-menu{
	margin-top : 10px;
}
#text-menu ul.top-level {background: #ffffff;}
#text-menu ul.top-level li {
 border-bottom: #eeeeee solid;
 border-width: 1px;
}

#text-menu a {
 color: #803B00;
 cursor: pointer;
 display:block;
 height:25px;
 line-height: 25px;
 text-indent: 10px;
 text-decoration:none;
 width:100%;
}
#text-menu a:hover{
 text-decoration:underline;
 color : #ffffff;
}

#text-menu li:hover {
	background: #ff9900;
	position: relative;
}
#text-menu ul.sub-level {
    display: none;
}
#text-menu li:hover .sub-level {
    background: #999;
    border: #fff solid;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 75px;
    top: 5px;
}
#text-menu ul.sub-level li {
    border: none;
    float:left;
    width:200px;
}


/*Seconda Level*/
#text-menu .sub-level {
    background: #999;
}

/*Third Level*/
#text-menu .sub-level .sub-level {
    background: #09C;
}
/*RESET STYLES*/
#text-menu li:hover .sub-level .sub-level {
	display:none;
}
#text-menu .sub-level li:hover .sub-level {
	display:block;
}

/* setting */
#pic-menu li { background : none; height : 55px; padding:1px 0px; } 
#pic-menu li img { border : 0px; }
#pic-menu li img:hover { 
	/*filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;*/
}

#other-link {
	border-left : 1px solid rgb(118, 217, 255);
	border-right : 1px solid rgb(118, 217, 255);
}
#text-menu { margin-bottom : 8px; }


/* Menu Main Pic */

#pic-main-menu{
	margin-top : 10px;
}

#pic-main-menu ul li a img{
	border : 0px;
}

#pic-main-menu ul li a:hover{
	color : #E5FB72;
	text-decoration : none;
}
