.myTable {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #666666;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;

}

.NoShadow{
	box-shadow: none;
}

.myTable table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

.myTable tr:last-child td:last-child, .myTable tr:last-child th:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}

.myTable table tr:first-child td:first-child,.myTable table tr:first-child th:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.myTable table tr:first-child td:last-child,.myTable table tr:first-child th:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}

.myTable tr:last-child td:first-child, .myTable tr:last-child th:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}

.myTable tr:hover td, .myTable tr:hover th{
	background-color: #A8DD93; 
}

.myTable tr:nth-child(odd){ background-color:#F0DFBC; }

.myTable tr:nth-child(even){ background-color:#ffffff; }

.myTable td,.myTable th{
	vertical-align:middle;
	border:1px solid #999999;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;

}

.myTable tr:last-child td,.myTable tr:last-child th{
	border-width:0px 1px 0px 0px;
}

.myTable tr td:last-child,.myTable tr th:last-child{
	border-width:0px 0px 1px 0px;
}

.myTable tr:last-child td:last-child,.myTable tr:last-child th:last-child{
	border-width:0px 0px 0px 0px;
}

.myTable tr:first-child th{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);
	background-color:#ff7f00;
	border:0px solid #666666;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.myTable tr:first-child:hover th{
	background:-o-linear-gradient(bottom, #bf5f00 5%, #ff7f00 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bf5f00), color-stop(1, #ff7f00) );
	background:-moz-linear-gradient( center top, #bf5f00 5%, #ff7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#bf5f00", endColorstr="#ff7f00");	
	background: -o-linear-gradient(top,#bf5f00,#ff7f00);
	background-color:#ff7f00;
}

.myTable tr:first-child th:first-child{
	border-width:0px 0px 1px 0px;
}

.myTable tr:first-child th:last-child{
	border-width:0px 0px 1px 1px;
}

/* 먼 Blue */
.myTBblue tr:nth-child(even)    { background-color:#ffffff; }
.myTBblue tr:nth-child(odd){ background-color:#E4F5F7; }
.myTBblue tr:first-child th{
	background:-o-linear-gradient(bottom, #00AEFF 5%, #2E6FD1 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00AEFF), color-stop(1, #2E6FD1) );
	background:-moz-linear-gradient( center top, #00AEFF 5%, #2E6FD1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#00AEFF", endColorstr="#2E6FD1");	
	background: -o-linear-gradient(top,#00AEFF,#2E6FD1);
	background-color: #00AEFF;
}
.myTBblue tr:first-child:hover th{
	background:-o-linear-gradient(bottom, #2E6FD1 100%, #00AEFF 5%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2E6FD1), color-stop(1, #00AEFF) );
	background:-moz-linear-gradient( center top, #2E6FD1 5%, #00AEFF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#2E6FD1", endColorstr="#00AEFF");	
	background: -o-linear-gradient(top,#2E6FD1,#00AEFF);
	background-color: #2E6FD1;
}

/* 먼 GREEN */

.myTBgreen tr:nth-child(even)    { background-color:#ffffff; }
.myTBgreen tr:nth-child(odd){ background-color:#E7F5EA; }
.myTBgreen tr:first-child th{
	background:-o-linear-gradient(bottom, #74E794 5%, #0A8B2E 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #74E794), color-stop(1, #0A8B2E) );
	background:-moz-linear-gradient( center top, #74E794 5%, #0A8B2E 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#74E794", endColorstr="#0A8B2E");	
	background: -o-linear-gradient(top,#74E794,#0A8B2E);
	background-color: #74E794;
}
.myTBgreen tr:first-child:hover th{
	background:-o-linear-gradient(bottom, #0A8B2E 100%, #74E794 5%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0A8B2E), color-stop(1, #74E794) );
	background:-moz-linear-gradient( center top, #0A8B2E 5%, #74E794 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0A8B2E", endColorstr="#74E794");	
	background: -o-linear-gradient(top,#0A8B2E,#74E794);
	background-color: #74E794;
}
