body{
	margin : 0px;
	padding : 0px;	
	font-family : tahoma, verdana, arial;
	font-size : 14px;
}

#tb_main{
	margin : 20px 0 20px 0;
	width : 993px;
}

#Header1{
    width : 993px;
	margin : auto;
	padding-top : 20px;
}

#div_header{
	background: #3E3939;
	height : 132px;
}

#header-inner {
    float: left;
}
#header-inner .title, #header-inner .title a {
    color: #FFFFFF;
    float: left;
    font: bold 40px 'LeagueGothicRegular';
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888, 0 3px 0 #777777, 0 4px 0 #666666, 0 5px 0 #555555, 0 6px 0 #444444, 0 7px 0 #333333, 0 8px 7px #001135;
    width: 450px;
}
#header-inner .descriptionwrapper {
    float: left;
}
#div_header .description {
    color: #FFFFFF;
    font-size: 14px;
    text-shadow: 0 1px 1px #555555;
}

#div_header h1{ 
	padding : 0px;
	margin : 0px;
}

#cssmenu{
	min-height : 370px;
}

#div_content{ 
	min-height: 370px;
	padding: 0px 19px 0px 19px;
	margin-bottom: 20px;
	background-color: rgb(255, 255, 255);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 1px 1px 0px 0px rgb(204, 204, 204);
	-moz-box-shadow: 1px 1px 0px 0px rgb(204, 204, 204);
	box-shadow: 1px 1px 0px 0px rgb(204, 204, 204);
	-moz-box-sizing: border-box;
	border-style : solid;
	border-width : 1px;
	border-color : #eeeeee;
}

#td_content_left { 
	width : 250px;
	background-color : #ffffff;
}

#td_footer{ 
	color : #ffffff;
	height : 50px;
	text-align : center;
	padding-top : 10px;
}

#div_footer{
	 background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #EEEEEE;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	text-align : center;
	padding : 10px;
	height : 50px;
	font-size: 12px;
	line-height : 25px;
}

#div_footer a{
	text-decoration : none;
	color : #059CE1;
}

#bg_center{
	margin : auto;
	width : 1001px;
}
#bg_footer{
	margin : auto;
	width : 1001px;
	background: url('../images/bg_foot.png') no-repeat scroll bottom #4275AA;
}

.content{
	padding : 5px;
	margin:0px;
	color : #AB7A08;
	white-space: pre-line;
}

.no_data{ color : #ff0000; }
.no_data_group{ color : #0000ff; font-weight : bold; }
.remark{
	color : #ff0000; 
	font-size: 12px !important; 
}

#dialog-message{
	display : none;
	color : #9F7D21;
	font-size : 14px;
	padding : 10px;
}